* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    background-image: url(../img/img0.jpg);
    background-size: cover;
    height: calc(100vh - 54px);
}
nav#pcNavBar {
    ul {
        li {
            a {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 578px) {
    nav#mobileNavBar {
        display: auto;
    }
    nav#pcNavBar {
        display: none;
    }
    footer {
        color: white;
        padding: 10px;
    }
}
@media screen and (min-width: 578px) {
    nav#mobileNavBar {
        display: none;
    }
    nav#pcNavBar {
        display: auto;
    }
    footer {
        color: white;
        padding: 25px;
    }
}