* {
    margin: 0;
    padding: 0;
}
//Navigation Bar Font
$navBarFont: 'Ubuntu';
//Colors
$grey: #343a40;
$lightGrey: #8b9299;
$llightGrey: #bbc2ca;

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
main {
    background-image: url(../img/img0.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 54px);
}
nav#pcNavBar {
    ul {
        li {
            a {
                font-family: $navBarFont;
                font-size: 3vh;
            }
        }
    }
}
nav#mobileNavBar {
    div#mNav {
        ul {
            li {
                a {
                    font-family: $navBarFont;
                }
            }
        }
    }
}
footer {
    background-color: $grey;
    div.row {
        span {
            font-family: $navBarFont;
            color: $llightGrey;
        }
        .col-12 {
            margin-bottom: 15px;
        }
    }
    img {
        height: 32px;
        width: 32px;
    }
}
div.navBottom {
    ul {
        list-style-type: none;
        li {
            display: block;
            a {
                font-family: $navBarFont;
                color: white;
            }
            span {
                font-family: $navBarFont;
                padding-bottom: 10px;
                color: $lightGrey;
            }
        }
    }
}
@media screen and (max-width: 576px) and (orientation: portrait, landscape){
    nav#mobileNavBar {
        display: auto;
    }
    nav#pcNavBar {
        display: none;
    }
    footer {
        color: white;
        padding: 10px;
    }
}
@media screen and (min-width: 576px) {
    nav#mobileNavBar {
        display: none;
    }
    nav#pcNavBar {
        display: auto;
    }
    footer {
        color: white;
        padding: 25px;
    }
}