@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-regular-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    color: white;
}
//Navigation Bar Font
$navBarFont: 'Ubuntu';
//Colors
$darkGrey: #0e141a;
$grey: #343a40;
$novelGrey: #4c545d;
$lightGrey: #8b9299;
$llightGrey: #bbc2ca;

main {
    background-image: url(../img/img0.jpg);
    background-size: cover;
    background-position: center;
    //height: calc(100vh - 54px);
    height: auto;
    p {
        font-family: $navBarFont;
        margin-bottom: 0;
        padding-bottom: 16px;
    }

}
nav#pcNavBar {
    ul {
        li {
            a {
                font-family: $navBarFont;
                font-size: 3vh;
            }
        }
    }
}
nav#mobileNavBar {
    div#mNav {
        ul {
            li {
                a {
                    font-family: $navBarFont;
                }
            }
        }
    }
}
footer {
    background-color: $grey;
    border-top: 1px $darkGrey solid;
    div.row {
        span {
            font-family: $navBarFont;
            color: $llightGrey;
        }
        .col-12 {
            margin-bottom: 15px;
        }
    }
    img {
        height: 32px;
        width: 32px;
    }
}
div.navBottom {
    ul {
        list-style-type: none;
        li {
            display: block;
            a {
                font-family: $navBarFont;
                color: white;
            }
            span {
                font-family: $navBarFont;
                padding-bottom: 10px;
                color: $lightGrey;
            }
        }
    }
}
@media screen and (max-width: 576px){
    nav#mobileNavBar {
        display: auto;
    }
    nav#pcNavBar {
        display: none;
    }
    footer {
        color: white;
        padding: 10px;
    }
    main {
        //margin: 0 2%;
        text-align: center;
        div.cont {
            div.mainContent {
                background-color: $novelGrey;
                form.regForm {
                    padding: 10px 15px;
                }
            }    
        }
    }
}
@media screen and (min-width: 576px) {
    nav#mobileNavBar {
        display: none;
    }
    nav#pcNavBar {
        display: auto;
    }
    footer {
        color: white;
        padding: 25px;
    }
    main {
        text-align: center;
        div.mainContent {
            //opacity: 75%;
            color: white;
            padding: 0 2%;
            height: 10%;
            width: 80%;
            margin: 0 10%;
            background-color: $novelGrey;
            div.container {
                div.row {
                    form.regForm {
                        padding: 20px 50px;
                        div.form-group {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
